 <div id="index-header">
    <div class="container">
        <img alt="SAM" src="/images/main_logo.png">
        <p class="header-p" >
        &nbsp&nbsp&nbsp&nbsp&nbspSocial Artist Management
        <br>
        Supporting your classical music
        </p>
        <span class="header-span">Registration Fee / Basic Cost ￥0</span>
        <img width="174" alt="アーティストの方はこちらから" src="images/main_artist_button_eng.png">
      </div>
      <div class="count">
        <img width="25%" alt="登録者数" src="images/main_count_eng.png">
      </div>
      <div id="triangle"> </div>
    </div>
  </div>
<div id="page1">
  <div class="container">
    <h2>
      <img alt="WHAT'S? SAM" src="images/whats.png">
    </h2>
    <p>
      This website has the fan club system dedicated to classical artists.
    <br>
      You can make a free fan club or start monthly subscription services,
    <br>
      set up the privilege depending on fan's amount of payment. You can create the optimal fan club freely and easily.
    </p>
    <h3>
      <div>Create Fan Club</div>
    </h3>
    <ul>
      <li>
        Delivery E-mail Magazine
         <p>dummydummy dummydummydummydummy dummy dummydummydummy</p>
      </li>
      <li>
        Start monthly subscription services
         <p>dummydummy dummydummy dummydummydummydummy dummydummy</p>
      </li>
      <li>
        Advertise your events
         <p>dummydummydummy dummydummydummy dummydummydummydummy</p>
      </li>
      <li>
        Sell tickets
         <p>dummydummy dummydummydummy dummydummydummydummydummy</p>
      </li>
      <li>
        Give benefits to supporting users
         <p>dummydummy dummydummydummydummydummy dummydummydummy</p>
      </li>
      <li>
        Participate affiliated competition
         <p>dummydummydummy dummydummy dummydummydummydummydummy</p>
      </li>
      <li>
        You can earn revenue from supporting fee
      <br>
        and withdraw from the bank.
      </li>
    </ul>
  </div>
</div>
<div id="page2">
  <div id="main-content" class="row full-min-height">
<p id="notice"><%= notice %></p>

<h1>Listing Artists</h1>


<h4 class="column">Featured Artists</h4>
<div class="carousel">
   <%  @artists.each do |artist| %>
       <div class="artist-card ">
          <%= link_to artist, class: "poster" do %>
            <%= image_tag artist.image.url(:thumb) %>
          <% end %>
          <div class="artist-info ell glassy-bg padmy padlx">
            <div class="artist-card ">
              <h6><%= artist.name %> <span>(<%= artist.instrument %>)</span></h6>
            </div>            
          </div>
        </div>
    <% end %>
</div>
<br>

 </div>
</div>
<div id="page3">
  <div class="container">
    <h2>FAQ</h2>
    <ul class="faq_box">
      <li>
       <h3>Question</h3>
        <p>dummydummydummydummydummy dummydummyd ummydummydummy</p>
      </li>
      <li>
        <h3>Question</h3> 
        <p>dummydummydumm ydummydummydummyd ummydummydumm ydummy</p>
      </li>
      <li>
        <h3>Question</h3>
       <p>dummydummydummyd ummydummyd ummydummydu mmydummy dummy</p>
      </li> 
    </ul>
  </div>
</div>
<div id="page4">
   <% if !user_signed_in? %>
    
   <div id="artist_header">
   Let's Sign Up
   </div>
   <div id="artist_tab">
    <div href="#artist_register">Sign Up</div>
    <div href="#artist_login">Log In</div>
   </div>
   <div id="artist_register" class="artist_form">
     
     <div class="form">
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
      <p>
       Agree to our <a href="" style="color: #f7ee13">Terms of service</a> and
      </p>
      
     </div>

   </div>
   <div id="artist_login" class="artist_form hide">
     <div class="form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
     </div>
   </div>
   <% end %>
  </div>
<div id="page5">
   <div class="container">
    <img src="images/notice.png" alt="NOTICE">
    <div class="notice_box">
     <div class="notice_meta">
     04.13.2016【Feature Improvement】
     </div>
     <p>
     Latest topics (new feature, new service, apology, advertisement ...)
     <a href="">More >></a>
     </p>
    </div>
    <div class="notice_box">
     <div class="notice_meta">
     04.13.2016【Feature Improvement】
     </div>
     <p>
     Latest topics (new feature, new service, apology, advertisement ...)
     <a href="">More >></a>
     </p>
    </div>
    <div class="notice_box">
     <div class="notice_meta">
     04.13.2016【Feature Improvement】
     </div>
     <p>
     Latest topics (new feature, new service, apology, advertisement ...)
     <a href="">More >></a>
     </p>
    </div>
    <img src="images/pickup_more.png" alt="more">
   </div>
  </div>