<p id="notice"><%= notice %></p>

<h1>Listing Artists</h1>


<h4 class="column">Featured Artists</h4>
<div id="owl" class="owl-carousel">
   <%  @artists.each do |artist| %>
       <div class="artist-card ">
          <%= link_to artist, class: "poster" do %>
            <%= image_tag artist.image.url(:thumb) %>
          <% end %>
          <div class="artist-info ell glassy-bg padmy padlx"  style="max-width: 150px!important">
            <div class="artist-card ">
              <h6><%= artist.name %> <span>(<%= artist.instrument %>)</span></h6>
            </div>            
          </div>
        </div>
    <% end %>
</div>
<br>

 