<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SAM" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "sam" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body >

  <div id="index-header">
  <div class="nav-white">
    <div class="row" >
      <nav class="top-bar column" id="index-color" data-topbar>

          <ul class="title-area" >
            <li class="name">
              <h1>
                <a class="logo" href="/">
                  <span class="logo"></span>
                </a>
              </h1>
            </li>
            <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
          </ul>
          <div id="index-color">
            <section class="top-bar-section" >
              <ul id="index-color" class="right" >
                <% if user_signed_in? %>
                  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                <% else %>
                <li><%=link_to "Login", new_user_session_path %></li>
                
                <%end%>          
                <li><%=link_to "WHAT'S SAM", "#" %></li>
                <li><%=link_to "Artist Sign Up", new_user_registration_path %></li>
                <li><%=link_to "Pick Up Artist", pua_path %></li>
              </ul>
            </section>
          </div>
        </nav>
    </div>  
  </div>
</div>

  <%= render "layouts/alerts" %>

<div class="container">
  <h4 class="pua"><img src="images/pickup.png"></h4>
  <div class="column">
    <ul class="artist-grid no-bullet row">
       <%  @artists.each do |artist| %>
         <li class="large-3 medium-4 small-12 column">
           <div class="artist-card padly">
            <%= link_to artist, class: "poster" do %>
              <%= image_tag artist.image.url(:thumb) %>
            <% end %>
            <div class="artist-info ell artist-background padmy padlx">
               <h6><%= artist.name %> <span>(<%= artist.instrument %>)</span></h6>
                          
            </div>
          </div>
          </li>
      <% end %>
      </ul>
  </div>
</div>
<br>
<footer >
    
  </footer>
  
</body>
</html>
