<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SAM" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "sam" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body >

  <%= render "layouts/header" %>

  <%= render "layouts/alerts" %>
  <div id="index-header">
    <div class="container">
        <img alt="SAM" src="/images/main_logo.png">
        <p class="header-p" >
        &nbsp&nbsp&nbsp&nbsp&nbspSocial Artist Management
        <br>
        Supporting your classical music
        </p>
        <span class="header-span">Registration Fee / Basic Cost ￥0</span>
        <img width="174" alt="アーティストの方はこちらから" src="images/main_artist_button_eng.png">
      </div>
      <div class="count">
        <img width="25%" alt="登録者数" src="images/main_count_eng.png">
      </div>
      <div id="triangle"> </div>
    </div>
  </div>
  <div id="main-content" class="row full-min-height">
    <%= yield %>
  </div>

  <footer class="row">
    <div class="large-12 columns">
      <hr> <p>© MovieStore 2014</p>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>

</body>
</html>
