<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SAM" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "sam" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body >
<div class="index-header">
  <%= render "layouts/header" %>
  </div>

  <%= render "layouts/alerts" %>
 
    <%= yield %>
  <footer >
    
  </footer>

  <%= javascript_include_tag "application" %>

</body>
</html>
